@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Font Size */

  h1,
  .h1 {
    @apply text-4xl font-oxygen;
  }

  h2,
  .h2 {
    @apply text-3xl font-oxygen;
  }

  h3,
  .h3 {
    @apply text-2xl font-oxygen;
  }

  h4,
  .h4 {
    @apply text-xl font-oxygen;
  }
  h5,
  .h5 {
    @apply text-base font-oxygen;
  }

  p,
  .p {
    @apply text-sm font-oxygen;
  }
}
.showEvents {
  top: 0;
  opacity: 1;
}

.hideEvents {
  top: 200px;
  opacity: 0;
}
